<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="{{site.baseurl}}/assets/images/logo.svg" alt="Logo" style="width:6em;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Početna
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">O Nama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cenovnik</a>
        </li>
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usluge
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Bolesti_zuba_i_endodoncija">Bolesti zuba i endodoncija</a>
            <a class="dropdown-item" href="#">Oralna hirurgija i implantologija</a>
            <a class="dropdown-item" href="#">Parodontologija</a>
            <a class="dropdown-item" href="#">Dečija stomatologija</a>
            <a class="dropdown-item" href="#">Ortodoncija</a>
            <a class="dropdown-item" href="#">Protetika</a>
            <a class="dropdown-item" href="#">Podmlađivanje lica</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Galerija</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>